.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 800px;
}

#google-logo {
  height: 130px;
  width: auto;
}